build --aspects @dwtj_rules_java//java:aspects.bzl%google_java_format_aspect
build --aspects @dwtj_rules_java//java:aspects.bzl%javadoc_aspect
build --aspects @dwtj_rules_java//java:aspects.bzl%error_prone_aspect
