build --aspects @dwtj_rules_markdown//markdown:aspects.bzl%markdownlint_aspect
build --aspects @dwtj_rules_java//java:aspects.bzl%google_java_format_aspect
build --aspects @dwtj_rules_java//java:aspects.bzl%error_prone_aspect
build --cxxopt "-std=c++17"
