# All Accounts ###############################################################
defaults
port 587
tls on

# Account: <my_ci_gmail>@gmail.com #######################################
account <my_ci_gmail>@gmail.com
host smtp.gmail.com
from <my_ci_gmail>@gmail.com
auth on
user <my_ci_gmail>
password <my_ci_gmail_password>

# Set A Default Account #######################################################
account default : <my_ci_gmail>@gmail.com
